<%- include('./partials/header.ejs') %>

<div class="container">
	<div class="row">
		<h1>404: File not found!</h1>
	</div>
  <div>
    <a href="/products" class="btn btn-success">Back to Products!</a>
  </div>
</div>

<%- include('./partials/footer.ejs') %>

