<%- include('../partials/header.ejs') %>

<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-11 col-md-4">
			<div class="card bg-light">
				<div class="card-header">
					Login
				</div>
				<div class="p-4">
					<form action="/users/login" method="POST">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
						<div class="form-group mb-2">
							<label for="username">Username:</label>
							<input type="text" class="form-control" id="username" name="username" autofocus>
						</div>
						<div class="form-group mb-2">
							<label for="password">Password</label>
							<input type="password" class="form-control" id="password" name="password">
						</div>
						<button type="submit" class="btn btn-success">Login</button>
						<a href="/users/forgotPassword" class="btn btn-primary">Forgot Password?</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer.ejs') %>
